* {
    margin: 0px;
    padding: 10px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    
}

body {
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* CONTAINER */
.container {
    width: 400px;
    background: white;
    padding: 30px;
    border-radius: 5px;
}

/* TABS */
.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tabs span {
    margin: 0 20px;
    cursor: pointer;
    font-weight: bold;
    color: gray;
}

.tabs .active {
    color: black;
}

/* FORMS */
.form {
    display: none;
}

.form.active {
    display: block;
}

label {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: #1B2B56;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    background: #eee;
    border: none;
}

/* INFO TEXT */
.info {
    margin: 15px 0;
    font-size: 13px;
    color: #555;
}

/* RADIO */
.radio label {
    display: block;
    margin: 10px 0;
    color: #1B2B56;
}

/* PRIVACY */
.privacy {
    font-size: 12px;
    margin: 15px 0;
    color: #555;
}

/* BUTTON */
button {
    width: 100%;
    padding: 12px;
    background:#1B2B56;
    color: white;
    border: none;
    cursor: pointer;
}